entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "pris-bb"
mode = "parallel"
author = 44144161

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python prisbb.py"

[[workflows.workflow]]
name = "151-bb"
mode = "parallel"
author = 44144161

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python 151bb.py"

[[workflows.workflow]]
name = "pris-spc"
mode = "parallel"
author = 44144161

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python prisspc.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Store Monitor"

[[workflows.workflow]]
name = "Store Monitor"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 store_monitor.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
